@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
  --black: #0E0E0E;
  --white: #E9E9E9;
  --red: #ED4245;
  --blue: #5865F2;
  --green: #57F287;
}

body {
  font-family: "Space Grotesk", sans-serif;
  margin: 0;
  padding: 10px;
  background-color: var(--white);
  color: var(--black);
}

.title {
  text-align: center;
  font-weight: 900;
  font-size: 50px;
}

.table-title {
  text-align: center;
  font-weight: 500;
  font-size: 25px;
} 

.input-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: large;
  font-weight: 600;
  padding: 50px;
}

.input-section label {
  font-weight: bold;
  margin-right: 10px;
}

.input-section input[type="NUMBER"], .input-section input[type="DATE"] {
  padding: 5px;
  margin-right: 10px;
  color: var(--black);
  border: solid 1px;
  border-radius: 5px;
  border-color: var(--black);
}

.input-section button {
  width: 80px;
  height: 40px;
  background-color: var(--green);
  color: var(--black);
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.input-section button:hover {
  background-color: var(--green);
  color: var(--white);
  font-weight: 900;
  box-shadow: 0 0 1px var(--green), 0 0 5px var(--green), 0 0 10px var(--green), 0 0 50px var(--green);
  transition: ease 150ms;
}
select {
  width: auto;
  height: 40px;
  color: var(--black);
  border: solid 1px;
  border-radius: 5px;
  border-color: var(--black);
}

option {
  color: var(--black);
  font-size: 16px;
}

.expenses-list {
  align-items: center;
  font-size: larger;
  margin: 100px;;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 3px solid var(--black);
}

th, td {
  padding: 15px;
  text-align: center;
  text-shadow: var(--black);
  border:3px solid var(--black);
}

th {
  background-color: var(--blue);
  color: #e9e9e9;
  font-size: larger;
}

tfoot td {
  font-weight: bold;
}

.delete-btn {
  width: 120px;
  height: 40px;
  background-color: transparent;
  color: var(--red);
  border-width: 2px;
  border-radius: 25px;
  border-color: var(--red);
  font-weight: 300;
}

.delete-btn:hover {
  background-color: var(--red);
  color: var(--white);
  font-weight: 900;
  box-shadow: 0 0 1px var(--red), 0 0 5px var(--red), 0 0 10px var(--red), 0 0 50px var(--red);
  transition: ease 150ms;
}

select[name="category"] {
  height: 40px;
  width: 200px;
}

select[name="amount"], select[name="date"] {
  height: 40px;
  width: 200px;
}